.ortala {
    text-align: center;
    background-color: gray;
    color: black;
}
.renk{
    color: black;
    background-color:#93dafe
}
.yazıbuyut {
    font-size: x-large; 
}
.link{
    color:blue;
    text-align: right;
}
.sehinsah{
    text-align: center;

    color: black;
    background-color:#ff0
}
.resimortala{
    text-align: center;
}